:root {
    --mainColor: 255, 255, 255;
}

body {
    margin: unset;
    overflow: hidden;
    overflow-y: scroll;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
              
    background: url("./assets/img/static-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: black;
    
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: left 2s, right 2s;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--mainColor), 0.1);
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(var(--mainColor), 0.2);
    border-radius: 15px;
    color: rgb(var(--mainColor));
    font-family: 'Unbounded', sans-serif;
    text-align: center;
    /* ANIMAZIONE */
    margin-top: -50px;
    opacity: 0;
    transition: 500ms;
}

.nav {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.nav.disabled {
    opacity: 0;
    pointer-events: none;
}

.navLeft {
    left: 20px;
}

.navRight {
    right: 20px;
}

.nav::after {
    font: var(--fa-font-solid);
    font-size: 32px;
    color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: color 200ms;
}

.nav:hover::after {
    color: rgba(255, 255, 255, 0.5);
}

.navLeft::after {
    content: "\f053";
}

.navRight::after {
    content: "\f054";
}

.loading {
    margin-top: 0px;
    opacity: 1;
    transition: 500ms;
}

.alert {
    position: absolute;
    background-color: rgba(240, 200, 0, 0.4);
    padding: 15px 20px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(240, 200, 0, 0.6);
    border-radius: 15px;
    color: rgb(240, 200, 0);
    font-family: 'Unbounded', sans-serif;
    /* ANIMAZIONE */
    opacity: 0;
    transition: 500ms;
}

.logo {
    width: 120px;
    border-radius: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.avatarDecoration {
    position: absolute;
    width: 145px;
    margin-top: -10px;
}

.avatarDecoration[src=""] {
    display: none;
}

h1, h2 {
    margin: 5px 0;
}

h4 {
    margin: unset;
    opacity: 0.6;
}

.flagContainer {
    display: flex;
    flex-direction: row;
}

.flagContainer span {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px 0 10px 0;
}

.flagContainer span::after {
    display: inline-block;
    opacity: 0;

    content: attr(label);
    position: relative;
    width: auto;
    bottom: 40px;
    transform: translateX(calc(-50% + 15px));

    background-color: rgba(var(--mainColor), 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(var(--mainColor), 0.2);
    border-radius: 15px;
    font-size: 14px;
    text-wrap: nowrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;

    pointer-events: none;
}

.flagContainer span:hover::after {
    opacity: 1;
    transition: opacity 200ms;
}

a {
    color: white;
    text-decoration: none;
}

button, a.styled {
    background-color: rgba(var(--mainColor), 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(var(--mainColor), 0.2);
    border-radius: 15px;
    outline: none;
    color: white;
    font-family: 'Unbounded', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 200ms;
}

button:hover, a.styled:hover {
    background-color: rgba(var(--mainColor), 0.2);
    border: 1px solid rgba(var(--mainColor), 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.links .link {
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1.4rem;
    border-radius: 9999vh;
}

.links .link:hover {
    background-color: rgba(var(--mainColor), 0.2);
    border: 1px solid rgba(var(--mainColor), 0.5);
}

.links .link i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.links .link::after {
    display: inline-block;
    opacity: 0;

    content: attr(label);
    position: relative;
    width: auto;
    top: 42px;
    transform: translateX(calc(-50% + 0.9rem));

    background-color: rgba(var(--mainColor), 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(var(--mainColor), 0.2);
    border-radius: 15px;
    font-size: 12px;
    text-wrap: nowrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;

    pointer-events: none;
}

.links .link:hover::after {
    opacity: 1;
    transition: opacity 200ms;
}

.richPresenceContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    /* border-top: 1px solid rgba(var(--mainColor), 0.2); */
    gap: 10px;
    text-align: left;
}

.richPresenceContainer::before {
    content: " ";
    position: relative;
    background-color: rgba(var(--mainColor), 0.4);
    width: 80%;
    height: 1px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.richPresenceContainer:empty {
    display: none;
}

.richPresenceItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    animation: richPresenceItemFade 0.5s linear 1;
}

@keyframes richPresenceItemFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.richPresenceItem .largeImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.richPresenceItem .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 0.8rem;
}

.richPresenceItem .text > span {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.richPresenceItem .text .time {
    margin-top: 1%;
    color: rgb(93, 255, 93);
}

.spotifyTitle {
    overflow: unset!important;
    white-space: unset!important;
    text-overflow: unset!important;
}

.richPresenceItem .name {
    font-weight: 600;
    font-size: 1rem;
}

.richPresenceItem .status {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    align-items: center;
}

.richPresenceItem .status > span {
    width: 2.7rem;
}

.richPresenceItem .status .bar {
    background-color: rgba(var(--mainColor), 0.2);
    flex-grow: 1;
    height: 0.5vh;
    margin: 0 3%;
    border-radius: 9999vh;
    overflow: hidden;
}

.richPresenceItem .status .bar > div {
    background-color: rgba(var(--mainColor), 0.2);
    height: 100%;
    transition: width 1s linear;
}

.repoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 40rem;
    margin-top: 10px;
    overflow: auto;
    gap: 0.5rem;
}

.repo {
    text-align: left;
    background-color: rgba(var(--mainColor), 0.1);
    padding: 16px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(var(--mainColor), 0.2);
    border-radius: 15px;
    outline: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;
    transition: 200ms;
}

.repo.archived {
    --mainColor: 235, 160, 10;
    box-shadow: inset 0 -10px 10px -10px rgb(var(--mainColor));

    order: 1;
}

.repo[name="imLolloTv.github.io"] {
    --mainColor: 146, 13, 255;
    box-shadow: inset 0 -10px 10px -10px rgb(var(--mainColor));
    
    order: -1;
}

.repo:hover {
    background-color: rgba(var(--mainColor), 0.2);
    border: 1px solid rgba(var(--mainColor), 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

h3, p {
    margin: unset;
}

p {
    opacity: 0.6;
    font-size: 0.8rem;
}

.githubLink {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: unset!important;
    border-radius: 50px!important;
    font-family: 'Unbounded', sans-serif;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.githubLink span {
    display: flex;
    background-color: white;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;
    border-radius: 50px;
    font-size: 16px;
    text-shadow: none;
    text-overflow: hidden;
    white-space: nowrap;
    transition: width 500ms, height 500ms;
}

.githubLink:hover span {
    width: 150px;
    height: 32px;
    margin-left: 3px;
}

.githubLink i {
    --grandezzaIcona: 28px;

    display: flex;
    padding: 6px;
    font-size: var(--grandezzaIcona);
    width: var(--grandezzaIcona);
    border-radius: 50px;
}

.watermark {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    font-family: 'Unbounded', sans-serif;
    opacity: 0.05;
    transition: 500ms;
}

.watermark:hover {
    font-size: 14px;
    opacity: 0.4;
}