body {
    margin: unset;
    overflow: hidden;
    overflow-y: scroll;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    background: url("./assets/img/static-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    display: none;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
    font-family: 'Unbounded', sans-serif;
    /* ANIMAZIONE */
    margin-top: -50px;
    opacity: 0;
    transition: 500ms;
}

.loading {
    margin-top: 0px;
    opacity: 1;
    transition: 500ms;
}

.alert {
    position: absolute;
    background-color: rgba(240, 200, 0, 0.4);
    padding: 15px 20px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(240, 200, 0, 0.6);
    border-radius: 15px;
    color: rgb(240, 200, 0);
    font-family: 'Unbounded', sans-serif;
    /* ANIMAZIONE */
    opacity: 0;
    transition: 500ms;
}

.logo {
    width: 120px;
    border-radius: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.avatarDecoration {
    position: absolute;
    width: 120px;
    margin-top: 2px;
}

.avatarDecoration[src=""] {
    display: none;
}

h1 {
    margin: 5px 0;
}

h4 {
    margin: unset;
    opacity: 0.6;
}

.flagContainer {
    display: flex;
    flex-direction: row;
}

.flagContainer span {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px 0 10px 0;
}

/* .flagContainer span::after {
    display: none;
    opacity: 1;

    content: attr(label);
    position: relative;
    width: auto;
    bottom: 30px;
    transform: translate(-50%);

    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-wrap: nowrap;
    transition: 200ms;
}

.flagContainer span:hover::after {
    display: inline-block;
    opacity: 1;
} */

button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    outline: none;
    color: white;
    font-family: 'Unbounded', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 200ms;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.richPresenceContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    gap: 10px;
}

.richPresenceContainer:empty {
    display: none;
}

.richPresenceItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.richPresenceItem .largeImage {
    width: 80px;
    object-fit: contain;
    border-radius: 10px;
}

.richPresenceItem .text {
    display: flex;
    flex-direction: column;
}

.richPresenceItem .text > span {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spotifyTitle {
    overflow: unset!important;
    white-space: unset!important;
    text-overflow: unset!important;
}

.richPresenceItem .name {
    font-weight: 600;
}

.githubLink {
    display: flex;
    position: absolute;
    background-color: rgb(192, 192, 192);
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    font-family: 'Unbounded', sans-serif;
    align-items: center;
    cursor: pointer;
}

.githubLink i {
    --grandezzaIcona: 28px;

    display: flex;
    background-color: white;
    padding: 6px;
    font-size: var(--grandezzaIcona);
    width: var(--grandezzaIcona);
    border-radius: 50px;
}