body {
    margin: unset;
    overflow: hidden;
    overflow-y: scroll;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
    font-family: 'Unbounded', sans-serif;
}

.logo {
    width: 120px;
    border-radius: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 10px 0;
}