body {
    margin: unset;
    overflow: hidden;
    overflow-y: scroll;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    background: url("./assets/img/static-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    display: none;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
    font-family: 'Unbounded', sans-serif;
    /* ANIMAZIONE */
    margin-top: -50px;
    opacity: 0;
    transition: 500ms;
}

.loading {
    margin-top: 0px;
    opacity: 1;
    transition: 500ms;
}

.logo {
    width: 120px;
    border-radius: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.avatarDecoration {
    position: absolute;
    width: 120px;
    margin-top: 2px;
}

.avatarDecoration[src=""] {
    display: none;
}

h1 {
    margin: 5px 0;
}

h4 {
    margin: 0 0 15px 0;
    opacity: 0.6;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    outline: none;
    color: white;
    font-family: 'Unbounded', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 200ms;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}